# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf
/autoscan.log
/autom4te.cache
/aclocal.m4
/compile
/configure
/confiure.in
/configure.scan
/config.in
/config.nice
/configure.scan
/depcomp
/install-sh
/missing
*~
*.o
*.lo
*.la
.libs/
.dirstamp
/config.log
/config.status
/libtool
*.Plo
*.a
*.swp
*.swo
/.settings
/config
/.autotools
/.cproject
Makefile
Makefile.in
.deps
stamp-h1
src/mod_mediaplayer_config.h
config_nice.m4
libtool.m4
