@CHARSET "UTF-8";
#body{
	margin:0px;
	overflow:hidden;
}

#browser_div{
	min-height: 50px;
}

#browser_div .create_table{
	cursor: pointer;
	background-color: orange;
	height: 100%;
	position: absolute;
	width: 20px;
	text-align: center;
	font-size: 24px;
	right: 0;
}

#login_server_url, #login_password, #login_username{
	height: 27px;
}
#login_server_url .textbox, #login_password .textbox, #login_username .textbox{
	float: right;
}

#right{
	display: inline-block;
	position: absolute;
	width: 100%;
}


.table_header .column_title{
		display: inline-block;
		width:90%;
		height: 100%;
		vertical-align: middle;
		text-align: left;
		position: relative;
}

#browser_div .table_header .search_textbox{
	width: 80px;
}

.table_header .search_textbox {
		margin-left: 5px;
}


.table_header .sort_arrows{
		display: inline-block;
		width:10%
}

.table_header .up_arrow{
	width: 0; 
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.table_header .down_arrow{
	width: 0; 
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid black;
}

#theme_change{
	position: absolute;
	right:0;
	cursor: pointer;
}

.playlist th,.playlist td{
	min-width: 270px;
}

.playlist .scrolling_div{
	min-width: 810px; /*This is three times the min width of td(table row)*/
}