@CHARSET "UTF-8";
@IMPORT url("style.css");



#player{
background: #FFFFFF; /* Old browsers */

color: grey;
}

#browser_div{
	background: #F0F0F0;	
}

#table{
	color: darkgrey;
	border-collapse: collapse;
	
	
}

.table_header{
	background-color: #DDDDDD;
}

#table .even{
	background: #FFFFFF;

	border-bottom-style: solid;
	border-bottom-width: 1px;

}
#table .odd{
	background: #F8F8F8; /* Old browsers */
	cursor: "pointer";
	border-bottom-style: solid;
	border-bottom-width: 1px;

}

#table td{
		border-left-width: 2px;
	border-left-style: solid;
}

.selected{
	background: #000000 ! important;
}

#tab_buttons{
	background: #CCCCCC;
}

#tab_buttons .current_tab{
	background: #FFFFFF;
}

.table_header .search_textbox {
	
	outline: 0;
	border-width: 1px;
	border-style: solid;

	background-color: #DDDDDD;
	position: absolute;
	opacity: 0.2;
		
}

.table_header .column_title{
	color: orange;
}